@model IEnumerable<AssigimentMorningFeb6.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarCast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarCast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
